:root {
    --nav-background: white;
    --text-color: white;
    --font-face: Roboto, Arial, Helvetica, sans-serif;
    --container-bg: rgba(200, 200, 220, 0.6);
    --relic-container-size: 10rem;
    --relic-container-background: rgba(90, 80, 45);
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header-navbar {
    position: fixed;
    background-color: var(--nav-background);
    color: var(--text-color);
    width: 100%;
    z-index: 100;
    font-family: var(--font-face);
}

h1 {
    font-family: var(--font-face);
    left: 50%;
    text-align: center;
    color: var(--text-color);
    margin: 1rem;
}

#container-main {
    margin-top: 4rem;
}

#container-content {
    margin: 3rem;
    padding: 1rem;
    background-color: var(--container-bg);
    border-radius: 4px;
}

#container-relics {
    display: inline-grid;
    grid-template-columns: repeat(4, var(--relic-container-size));
    column-gap: 1rem;
}

.container-relic {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 5%;
    font-family: var(--font-face);
    color: white;
    background-color: var(--relic-container-background);
}
